.abt{
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    margin: auto;
    margin-top: 8rem;
    align-items: center;
    justify-content: center;
}